<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title>CIRious Game Santé </title>
</head>
<body>
<div class="masthead" class="container-fluid">
    <h1>Comment jouer</h1>
    <p>Comment se déplacer </p>
    <img id="deplacement" src="../tiled/acceuil/déplacement.png">
</div>

</body>